/*------------------------------------------------*/
/*BASIC SETUP*/
/*------------------------------------------------*/


/*------------------------------------------------*/
/*NAVIGATION*/
/*------------------------------------------------*/



html, body {
    /* background-image:url('./assets/background.svg');
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  */
    margin: 0; 
    padding: 0;
    font-family: 'Advent Pro', sans-serif;
    font-size: 2vw;
  } 
  
h1, h2, h3 {
  margin: 0;
  padding: 0;
  color: white;

}
  
a {
  text-decoration: none
}

nav {
  position: fixed;
}

nav ul {
  list-style: none;
  z-index: 9999;
}

nav li { 
  display: inline-block;
  margin-left: 25px;
  font-size: 200%;
  /* font-weight: 700; */
}

nav li a {
  color: white;
}

.section1 {
  background-image: url('./assets/background.svg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

.section2 {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/background.svg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

.list {

}
  
.heading {
  float: right;
  text-align: right;
  margin-top: 225px;
  margin-right: 300px;
}

.heading2 {
  margin-left: 225px;
  padding-top: 225px;
}
  
.icon-box {
  margin-top: 25px;
  margin-bottom: 25px;
}
  
  
.icon {
  margin-left: 25px;
  width: 2vw;
  height: 2vw
}
  
.subheading {
  margin-right: 25px;
}
  
  
#name {
  width: 40vw;
  height: 8vw; 
}
  
#skills-img {

  width: 20vw;
  height: 8vw; 

}
  

  
#github {
    
}
  
#proficient, #knowledgeable, #familiar {
  float: left;
  margin-right: 50px;
}
  
